.container{
  width: 92%;
  margin: 0 auto;
}
.settings {
  background: conic-gradient(darkred, darkblue, darkblue, darkred, darkred);
}
.pray {
  display: grid;
  grid-template-columns: 70% 30%;
}
h2{
  font-weight: bold;
}
p{
  text-align: justify;
}
#exit, #finish, #print {
  cursor: pointer;
  border-radius: 7px;
  padding: 3px 8px;
  color: white;
  background: rgba(128, 128, 128, 0.76);
}
#exit:hover{
  
  background: rgb(128, 128, 128);
}
#finish:hover{
  
  background: rgb(128, 128, 128);
}
#print:hover{
  
  background: rgb(128, 128, 128);
}


/* Styles for the clickable summary element*/
summary {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.2s ease;
  

  /* Remove the default marker */
  &::marker {
    content: '';
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {

    color: gray;
    outline: none;
  }
}



/* Styles for the collapsible <details> container */
details {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }

  .open-icon {
    display: none;
  }

  &[open] {
    .open-icon {
      display: inline;
    }

    .closed-icon {
      display: none;
    }
  }

  
}